*{
	margin:0;
	padding:0;
}

.contenedor{
	margin: 0.5rem;
    display: grid;
    grid-template-areas:
		"menu"
		"galeria"
		"footer";	
}
.menu{
	grid-area: menu;
}
.galeria{
	grid-area: galeria;
}
.galeria{
	display: flex;
	flex-direction:row;
	justify-content:space-evenly;
	align-items:stretch;
	flex-wrap:wrap;
	align-content:center;
	border: 0.3rem solid;
	.galeria-products{
			padding-top: 0.1rem;
			height: 24rem;
			width: 25rem;
			border: 1px solid;
			img{
				height: 16rem;
				width: 100%;
			}
			.titulo{
				margin: 0.1rem;
				text-align:center;
				font-size:1.5rem;
			}
			.desc{
				margin: 0.1rem;
				text-align: center;
				font-size:small;
			}
			.precio{
				margin: 0.1rem;
				text-align: center;
				font-size: large;
			}
			.btn-compra{
				width: 100%;
			}
			.btn-cont{
				width: 5rem;
				border: 1px solid;
			}
			.btn-item{
				width: 5rem;
			}
			.btn-fin{
				width: 3rem;
			}
		}
}
.footer{
	grid-area: footer;
	
}