* {
  margin: 0;
  padding: 0; }

.contenedor {
  margin: 0.5rem;
  display: grid;
  grid-template-areas: "menu" "galeria" "footer"; }

.menu {
  grid-area: menu; }

.galeria {
  grid-area: galeria; }

.galeria {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: center;
  border: 0.3rem solid; }
  .galeria .galeria-products {
    padding-top: 0.1rem;
    height: 24rem;
    width: 25rem;
    border: 1px solid; }
    .galeria .galeria-products img {
      height: 16rem;
      width: 100%; }
    .galeria .galeria-products .titulo {
      margin: 0.1rem;
      text-align: center;
      font-size: 1.5rem; }
    .galeria .galeria-products .desc {
      margin: 0.1rem;
      text-align: center;
      font-size: small; }
    .galeria .galeria-products .precio {
      margin: 0.1rem;
      text-align: center;
      font-size: large; }
    .galeria .galeria-products .detalle {
      display: flex;
      flex-direction: row;
      border: 2px solid;
      width: 25rem; }
    .galeria .galeria-products .btn-compra {
      width: 100%; }
    .galeria .galeria-products .btn-cant {
      width: 3rem; }
    .galeria .galeria-products .btn-agregar {
      height: 2.4rem;
      width: 7.8rem; }
    .galeria .galeria-products .img-cart {
      height: 13rem;
      width: 100%; }

.footer {
  grid-area: footer;
  border: 2px solid; }
